@tailwind base;
@tailwind components;
@tailwind utilities;
.active {
  color: gray;
  position: relative;
}
.active::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background: red;
  bottom: -5px;

}
